@use "../../../styles/" as *;

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-bg;

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: $space-6;

    @include scrollbar;
  }
}
