@use '../../../styles/tokens' as *;

.badge {
  display: inline-flex;
  align-items: center;
  border-radius: $radius-full;
  border: 1px solid transparent;
  font-weight: $font-weight-medium;
  white-space: nowrap;

  &--sm {
    padding: 2px $space-2;
    font-size: $font-size-xs;
  }

  &--md {
    padding: $space-1 $space-3;
    font-size: $font-size-xs;
  }
}
